# 제 4회 기출 문제

## 작업형 제 1 유형

### ✏️ 'age' 컬럼의 3사분위수와 1사분위수의 차이를 절댓값으로 구하고, 소수점 이하를 버리고, 정수로 출력하시오.

In [1]:
import pandas as pd
df = pd.read_csv('./data/data4-1.csv')
print(df.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
# 1. 3사분위수와 1사분위수의 차이를 절댓값으로 계산
q1 = df['age'].quantile(.25)
q3 = df['age'].quantile(.75)
result = abs(q1 - q3)

# 2. 소수점 이하를 버리고, 정수로 출력
print(int(result))

50

### ✏️ 모든 reactions 중 loves 와 wows 를 합한 반응 비율이 40% 보다 크고 50% 보다 작은 데이터를 찾고, 이 중 type 컬럼이 'video' 인 데이터의 개수를 구하시오.

In [10]:
import pandas as pd
df = pd.read_csv('./data/data4-2.csv')
print(df.head())

   id   type  reactions  comments  shares  likes  loves  wows  hahas  sads  \
0   1  video        529       512     262    432     92     3      1     1
1   2  photo        150         0       0    150      0     0      0     0
2   3  video        227       236      57    204     21     1      1     0
3   4  photo        111         0       0    111      0     0      0     0
4   5  photo        213         0       0    204      9     0      0     0

   angrys
0       0
1       0
2       0
3       0
4       0

In [ ]:
# 1. 비율이 40% 보다 크고 50% 보다 작은 조건
## likes + loves + wows + hahas + sads + angrys = reactions -> 분모를 reaction, 분자를 loves + wows 로 계산해 40~50% 비율 구하기
cond1 = (df['loves'] + df['wows']) / df['reactions'] > 0.4
cond2 = (df['loves'] + df['wows']) / df['reactions'] < 0.5

# 2. type 이 video 인 조건
cond3 = df['type'] == 'video'

# 3. 조건에 맞는 데이터 수 구하기
## len() 함수를 활용해 조건에 맞는 데이터의 개수 구하기
print(len(df[cond1 & cond2 & cond3]))

90

### ✏️ 'date_added' 컬럼의 날짜가 2018년 1월이면서 'country' 에서 'United Kingdom' 단독 제작인 데이터의 개수를 구하시오.

In [13]:
import pandas as pd
df = pd.read_csv('./data/data4-3.csv')
print(df.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

In [ ]:
# [풀이1]
# 1. datetime 으로 형 변환
## pd.to_datetime 활용해 object 자료형을 datetime 자료형으로 변경
df['date_added'] = pd.to_datetime(df['date_added'])

# 2. dt 활용해 year 과 month 파생변수 생성
## datetime 자료형에서 dt 활용해 year 와 month 뽑아내기
df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month
print(df.head(3), '\n')

# 3. 조건
cond1 = df['year'] == 2018
cond2 = df['month'] == 1
cond3 = df['country'] == 'United Kingdom'

# 4. 조건에 맞는 데이터 수 출력
## len() 함수를 활용해 3개의 조건에 맞는 데이터 개수 출력
print(len(df[cond1 & cond2 & cond3]))

  show_id     type                 title         director  \
0      s1    Movie  Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show         Blood & Water              NaN
2      s3  TV Show             Ganglands  Julien Leclercq

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN

  date_added  release_year rating   duration  \
0 2021-09-25          2020  PG-13     90 min
1 2021-09-24          2021  TV-MA  2 Seasons
2 2021-09-24          2021  TV-MA   1 Season

                                           listed_in    year  month
0                                      Documentaries  2021.0    9.0
1    International TV Shows, TV Dramas, TV Mysteries  2021.0    9.0
2  Crime TV Shows, International TV Shows, TV Act...  2021.0    9.0

6

In [20]:
# [풀이2] : datetime 으로 변환된 데이터는 대소 관계를 나타내는 <, > ,= 를 활용해 1월 1일부터 1월 31일까지 기간 선택 가능
df = pd.read_csv('./data/data4-3.csv')

# 1. datetime 으로 형 변환
df['date_added'] = pd.to_datetime(df['date_added'])

# 2. 조건
cond1 = df['country'] == 'United Kingdom'
cond2 = df['date_added'] >= '2018-1-1'
cond3 = df['date_added'] <= '2018-1-31'

# 3. 조건에 맞는 데이터 수 출력
print(len(df[cond1 & cond2 & cond3]))

6