## section06 데이터 삭제

In [1]:
import pandas as pd

df = pd.read_csv('./data/cafe.csv')
df.head(3)

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250

### 01. 행 삭제

In [2]:
df.drop(1, axis = 0, inplace = True)
df.head(3)

      메뉴    가격  칼로리
0  아메리카노  4500   10
2   카페모카  5500  250
3   카푸치노  5000  110

### 02. 컬럼(열) 삭제

In [3]:
df = df.drop('칼로리', axis = 1)
df.head(3)

      메뉴    가격
0  아메리카노  4500
2   카페모카  5500
3   카푸치노  5000