## section18 시계열 데이터(Timedelta)

In [2]:
import pandas as pd

df = pd.read_csv('./data/date_data.csv', 
                 usecols = ['DateTime4'], # usecols로 DateTime4 컬럼 선택
                 parse_dates = ['DateTime4'])   # parse_dates로 datetime 자료형으로 변환
df

            DateTime4
0 2024-02-17 13:50:30
1 2024-02-18 14:55:45
2 2024-02-19 15:30:15
3 2024-02-20 16:10:50

### 01. 특정 시간과의 차이

In [10]:
day = pd.Timedelta(days = 99)
df['After-100day'] = df['DateTime4'] + day
df

            DateTime4        After-100day
0 2024-02-17 13:50:30 2024-05-26 13:50:30
1 2024-02-18 14:55:45 2024-05-27 14:55:45
2 2024-02-19 15:30:15 2024-05-28 15:30:15
3 2024-02-20 16:10:50 2024-05-29 16:10:50

In [11]:
hour = pd.Timedelta(hours = 100)
df['After-100hour'] = df['DateTime4'] + hour
df

            DateTime4        After-100day       After-100hour
0 2024-02-17 13:50:30 2024-05-26 13:50:30 2024-02-21 17:50:30
1 2024-02-18 14:55:45 2024-05-27 14:55:45 2024-02-22 18:55:45
2 2024-02-19 15:30:15 2024-05-28 15:30:15 2024-02-23 19:30:15
3 2024-02-20 16:10:50 2024-05-29 16:10:50 2024-02-24 20:10:50

In [14]:
difference = pd.Timedelta(weeks=7, days=7, hours=7, minutes=7, seconds=7)
df['difference'] = df['DateTime4'] - difference
df

,DateTime4,After-100day,After-100hour,difference
0,2024-02-17 13:50:30,2024-05-26 13:50:30,2024-02-21 17:50:30,2023-12-23 06:43:23
1,2024-02-18 14:55:45,2024-05-27 14:55:45,2024-02-22 18:55:45,2023-12-24 07:48:38
2,2024-02-19 15:30:15,2024-05-28 15:30:15,2024-02-23 19:30:15,2023-12-25 08:23:08
3,2024-02-20 16:10:50,2024-05-29 16:10:50,2024-02-24 20:10:50,2023-12-26 09:03:43

### 02. 두 시간 사이의 차이

In [15]:
diff = df['After-100hour'] - df['difference']
diff

0   60 days 11:07:07
1   60 days 11:07:07
2   60 days 11:07:07
3   60 days 11:07:07
dtype: timedelta64[ns]

In [16]:
print(diff.dt.total_seconds())          # 초
print(diff.dt.total_seconds()/60)       #분
print(diff.dt.total_seconds()/60/60)    # 시간
print(diff.dt.total_seconds()/60/60/24) # 일

0    5224027.0
1    5224027.0
2    5224027.0
3    5224027.0
dtype: float64
0    87067.116667
1    87067.116667
2    87067.116667
3    87067.116667
dtype: float64
0    1451.118611
1    1451.118611
2    1451.118611
3    1451.118611
dtype: float64
0    60.463275
1    60.463275
2    60.463275
3    60.463275
dtype: float64

### 03. Timedelta의 dt 속성

In [17]:
print(diff.dt.days)
print(diff.dt.seconds)

0    60
1    60
2    60
3    60
dtype: int64
0    40027
1    40027
2    40027
3    40027
dtype: int32

In [19]:
min = 5.41
print(int(min), '분')
print(0.41*60, '초')

5 분
24.599999999999998 초

In [21]:
print(round(diff.dt.total_seconds()/60))

0    87067.0
1    87067.0
2    87067.0
3    87067.0
dtype: float64