## section05 새로운 컬럼 추가

In [2]:
import pandas as pd

df = pd.read_csv('./data/cafe.csv')
df.head(2)

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110

### 01. 새로운 컬럼 추가

In [3]:
df['new'] = 0
df.head(2)

      메뉴    가격  칼로리  new
0  아메리카노  4500   10    0
1   카페라떼  5000  110    0

### 02. 기존 컬럼을 사용한 계산

In [4]:
# 새로운 컬럼에 메뉴별 정상가에서 20% 할인한 금액 대입
discount = 0.2
df['할인가'] = df['가격'] * (1 - discount)
df.head(2)

      메뉴    가격  칼로리  new     할인가
0  아메리카노  4500   10    0  3600.0
1   카페라떼  5000  110    0  4000.0