## section19 데이터프레임 합치기

### 01. 단순 병합

> 예제 데이터 생성

In [1]:
import pandas as pd 

# 에피타이저 메뉴
appetizer = pd.DataFrame({
    'Menu' : ['Salad', 'Soup', 'Bread'],
    'Price' : [12000, 9000, 7000]
})

# 메인 메뉴
main = pd.DataFrame({
    'Menu' : ['Steak', 'Pasta', 'Chicken'],
    'Price' : [33000, 19000, 21000]
})

print(appetizer)
print(main)

    Menu  Price
0  Salad  12000
1   Soup   9000
2  Bread   7000
      Menu  Price
0    Steak  33000
1    Pasta  19000
2  Chicken  21000

In [2]:
full_menu = pd.concat([appetizer, main], ignore_index = True)
full_menu

      Menu  Price
0    Salad  12000
1     Soup   9000
2    Bread   7000
3    Steak  33000
4    Pasta  19000
5  Chicken  21000

In [4]:
full_menu = pd.concat([appetizer, main], axis=1)
full_menu

    Menu  Price     Menu  Price
0  Salad  12000    Steak  33000
1   Soup   9000    Pasta  19000
2  Bread   7000  Chicken  21000

### 02. 키(key) 기준 병합

In [5]:
# 메뉴와 가격
price = pd.DataFrame({
    'Menu' : ['Salad', 'Soup', 'Steak', 'Pasta'],
    'Price' : [12000, 9000, 33000, 19000]
})

# 메뉴와 칼로리
cal = pd.DataFrame({
    'Menu' : ['Soup', 'Steak', 'Pasta', 'Salad'],
    'Calories' : [100, 500, 400, 150]
})

# 두 데이터프레임을 'Menu'를 기준으로 병합
menu_info = pd.merge(price, cal, on='Menu')
print(menu_info)

    Menu  Price  Calories
0  Salad  12000       150
1   Soup   9000       100
2  Steak  33000       500
3  Pasta  19000       400