## section02 데이터 저장 및 불러오기

In [2]:
import pandas as pd

# 예제 데이터 생성
df = pd.DataFrame({
    '메뉴' : ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    '가격' : [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    '칼로리' : [10, 110, 250, 110, 20, 210, 0]
})
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

### 01. csv로 저장

In [6]:
df.to_csv('./data/temp.csv')

### 02. csv 불러오기

In [7]:
temp_df = pd.read_csv('./data/temp.csv')
temp_df

   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20
5           5    밀크티  5900  210
6           6     녹차  5300    0

### 03. csv 저장 옵션

In [8]:
df.to_csv('./data/cafe.csv', index = False)
df = pd.read_csv('./data/cafe.csv')
df.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20