## section01 데이터프레임과 시리즈

### 02. 판다스 별칭

In [1]:
import pandas as pd

### 03. 시리즈(Series)

In [3]:
menu = pd.Series(['아메리카노', '카페라떼', '카페모카'])
menu

0    아메리카노
1     카페라떼
2     카페모카
dtype: object

In [4]:
price = pd.Series([4500, 5000, 5500])
price

0    4500
1    5000
2    5500
dtype: int64

### 04. 데이터프레임(DataFrame)

In [13]:
pd.DataFrame({
    "menu" : menu,
    "price" : price
})

    menu  price
0  아메리카노   4500
1   카페라떼   5000
2   카페모카   5500

In [14]:
df = pd.DataFrame({
    "메뉴" : ['아메리카노', '카페라떼', '카페모카'],
    "가격" : [4500, 5000, 5500],
    "원두" : ["케냐", "콜롬비아", "케냐"]
})

df

      메뉴    가격    원두
0  아메리카노  4500    케냐
1   카페라떼  5000  콜롬비아
2   카페모카  5500    케냐

### 05. 컬럼 선택

In [17]:
print(df['메뉴'])
type(df['메뉴'])

0    아메리카노
1     카페라떼
2     카페모카
Name: 메뉴, dtype: object

pandas.core.series.Series

### 06. 데이터프레임과 시리즈 자료형

In [19]:
print(df[['메뉴']])
type(df[['메뉴']])

      메뉴
0  아메리카노
1   카페라떼
2   카페모카

pandas.core.frame.DataFrame

In [20]:
print(df[['메뉴', '가격']])
type(df[['메뉴', '가격']])

      메뉴    가격
0  아메리카노  4500
1   카페라떼  5000
2   카페모카  5500

pandas.core.frame.DataFrame

In [25]:
cols = ['메뉴', '가격']
print(df[cols])
type(df[cols])

      메뉴    가격
0  아메리카노  4500
1   카페라떼  5000
2   카페모카  5500

pandas.core.frame.DataFrame

### 07. 자료형 비교

In [28]:
print('df          : ', type(df))
print("df['가격']   : ", type(df['가격']))
print("df[['가격']] : ", type(df[['가격']]))

df          :  <class 'pandas.core.frame.DataFrame'>
df['가격']   :  <class 'pandas.core.series.Series'>
df[['가격']] :  <class 'pandas.core.frame.DataFrame'>