## section14 문자열

In [2]:
import pandas as pd

df = pd.DataFrame({
    'A' : ['데이터 분석', '웹 프로그래밍', '앱 개발'],
    'B' : [10, 20, 30],
    'C' : ['ab cd', 'AB CD', 'ab cd ']  # 의도적으로 마지막 데이터 뒤에 공백 추가
})
df

         A   B       C
0   데이터 분석  10   ab cd
1  웹 프로그래밍  20   AB CD
2     앱 개발  30  ab cd

### 01. 문자열 변경(치환)

In [3]:
df['A'] = df['A'].replace('분석', '시각화')
df

         A   B       C
0   데이터 분석  10   ab cd
1  웹 프로그래밍  20   AB CD
2     앱 개발  30  ab cd

In [5]:
df['A'] = df['A'].str.replace('분석', '시각화')
df

         A   B       C
0  데이터 시각화  10   ab cd
1  웹 프로그래밍  20   AB CD
2     앱 개발  30  ab cd

In [6]:
df['B'] = df['B'].replace(10, 100)
df

         A    B       C
0  데이터 시각화  100   ab cd
1  웹 프로그래밍   20   AB CD
2     앱 개발   30  ab cd

In [7]:
df['B'] = df['B'].str.replace(20, 200)
df

AttributeError: Can only use .str accessor with string values!

### 02. 문자열 분리

In [8]:
df['A'].str.split()

0    [데이터, 시각화]
1    [웹, 프로그래밍]
2       [앱, 개발]
Name: A, dtype: object

In [9]:
df['A'].str.split()[0]

['데이터', '시각화']

In [10]:
df['D'] = df['A'].str.split().str[0]
df

         A    B       C    D
0  데이터 시각화  100   ab cd  데이터
1  웹 프로그래밍   20   AB CD    웹
2     앱 개발   30  ab cd     앱

### 03. 특정 문자열 검색

In [11]:
df['A'].str.contains('웹')

0    False
1     True
2    False
Name: A, dtype: bool

In [12]:
df['웹 포함 유무'] = df['A'].str.contains('웹')
df

         A    B       C    D  웹 포함 유무
0  데이터 시각화  100   ab cd  데이터    False
1  웹 프로그래밍   20   AB CD    웹     True
2     앱 개발   30  ab cd     앱    False

In [13]:
menu = pd.Series(['치즈버거 세트', '더블 불고기버기', '상하이 스파이시버거'])
menu.isin(['치즈버거 세트'])

0     True
1    False
2    False
dtype: bool

In [14]:
menu.str.contains('세트')

0     True
1    False
2    False
dtype: bool

### 04. 문자열 길이

In [16]:
df['문자길이'] = df['A'].str.len()
df

         A    B       C    D  웹 포함 유무  문자길이
0  데이터 시각화  100   ab cd  데이터    False     7
1  웹 프로그래밍   20   AB CD    웹     True     7
2     앱 개발   30  ab cd     앱    False     4

### 05. 문자열 대(소)문자 변경

In [17]:
'AB cd' == 'ab CD'

False

In [19]:
df['C'] = df['C'].str.lower()
df['C']

0     ab cd
1     ab cd
2    ab cd
Name: C, dtype: object

In [20]:
df['C'] = df['C'].str.upper()
df['C']

0     AB CD
1     AB CD
2    AB CD
Name: C, dtype: object

In [21]:
df['C'] == 'AB CD'

0     True
1     True
2    False
Name: C, dtype: bool

In [22]:
df['C'] = df['C'].str.lower()
df['C'] = df['C'].str.replace(' ', '')
df['C']

0    abcd
1    abcd
2    abcd
Name: C, dtype: object

### 06. 문자열 슬라이싱

In [23]:
df['C'].str[1:3]

0    bc
1    bc
2    bc
Name: C, dtype: object

In [24]:
df['C'][1:3]

1    abcd
2    abcd
Name: C, dtype: object