## section17 시계열 데이터(datetime)

### 01. 날짜와 시간 데이터

> 예제 데이터 생성

In [11]:
import pandas as pd

data = {
    'Date1' : ['2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20'],
    'Date2' : ['2024:02:17', '2024:02:18', '2024:02:19', '2024:02:20'],
    'Date3' : ['24/02/17', '24/02/18', '24/02/19', '24/02/20'],
    'Date4' : ['02/17/2024', '02/18/2024', '02/19/2024', '02/20/2024'],
    'Date5' : ['17-Feb-2024', '18-Feb-2024', '19-Feb-2024', '20-Feb-2024'],
    'DateTime1' : ['24-02-17 13:50:30', '24-02-18 14:55:45', '24-02-19 15:30:15', '24-02-20 16:10:50'],
    'DateTime2' : ['2024-02-17 13-50-30', '2024-02-18 14-55-45', '2024-02-19 15-30-15', '2024-02-20 16-10-50'],
    'DateTime3' : ['02/17/2024 01:50:30 PM', '02/18/2024 02:55:45 PM', '02/19/2024 03:30:15 AM', '02/20/2024 04:10:50 AM'],
    'DateTime4' : ['17 Feb 2024 13:50:30', '18 Feb 2024 14:55:45', '19 Feb 2024 15:30:15', '20 Feb 2024 16:10:50']    
}

df = pd.DataFrame(data)
df.to_csv('./data/date_data.csv', index = False)
df

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4
0,2024-02-17,2024:02:17,24/02/17,02/17/2024,17-Feb-2024,24-02-17 13:50:30,2024-02-17 13-50-30,02/17/2024 01:50:30 PM,17 Feb 2024 13:50:30
1,2024-02-18,2024:02:18,24/02/18,02/18/2024,18-Feb-2024,24-02-18 14:55:45,2024-02-18 14-55-45,02/18/2024 02:55:45 PM,18 Feb 2024 14:55:45
2,2024-02-19,2024:02:19,24/02/19,02/19/2024,19-Feb-2024,24-02-19 15:30:15,2024-02-19 15-30-15,02/19/2024 03:30:15 AM,19 Feb 2024 15:30:15
3,2024-02-20,2024:02:20,24/02/20,02/20/2024,20-Feb-2024,24-02-20 16:10:50,2024-02-20 16-10-50,02/20/2024 04:10:50 AM,20 Feb 2024 16:10:50

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date1      4 non-null      object
 1   Date2      4 non-null      object
 2   Date3      4 non-null      object
 3   Date4      4 non-null      object
 4   Date5      4 non-null      object
 5   DateTime1  4 non-null      object
 6   DateTime2  4 non-null      object
 7   DateTime3  4 non-null      object
 8   DateTime4  4 non-null      object
dtypes: object(9)
memory usage: 420.0+ bytes

### 02. datetime 자료형

In [12]:
df = pd.read_csv('./data/date_data.csv')

df['Date1'] = pd.to_datetime(df['Date1'])
df['Date2'] = pd.to_datetime(df['Date2'], format = '%Y:%m:%d')
df['Date3'] = pd.to_datetime(df['Date3'])
df['Date4'] = pd.to_datetime(df['Date4'])
df['Date5'] = pd.to_datetime(df['Date5'])
df['DateTime1'] = pd.to_datetime(df['DateTime1'])
df['DateTime2'] = pd.to_datetime(df['DateTime2'], format = '%Y-%m-%d %H-%M-%S')
df['DateTime3'] = pd.to_datetime(df['DateTime3'])
df['DateTime4'] = pd.to_datetime(df['DateTime4'])

df

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9164\2780354541.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date3'] = pd.to_datetime(df['Date3'])
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9164\2780354541.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DateTime1'] = pd.to_datetime(df['DateTime1'])
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9164\2780354541.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DateTime3'] = pd.to_datetime(df['DateTime3'])

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4
0,2024-02-17,2024-02-17,2017-02-24,2024-02-17,2024-02-17,2017-02-24 13:50:30,2024-02-17 13:50:30,2024-02-17 13:50:30,2024-02-17 13:50:30
1,2024-02-18,2024-02-18,2018-02-24,2024-02-18,2024-02-18,2018-02-24 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45
2,2024-02-19,2024-02-19,2019-02-24,2024-02-19,2024-02-19,2019-02-24 15:30:15,2024-02-19 15:30:15,2024-02-19 03:30:15,2024-02-19 15:30:15
3,2024-02-20,2024-02-20,2020-02-24,2024-02-20,2024-02-20,2020-02-24 16:10:50,2024-02-20 16:10:50,2024-02-20 04:10:50,2024-02-20 16:10:50

### 03. 날짜와 시간 format

In [17]:
df = pd.read_csv('./data/date_data.csv')

df['Date2'] = pd.to_datetime(df['Date2'], format = '%Y:%m:%d')
df['Date3'] = pd.to_datetime(df['Date3'], format = '%y/%m/%d')
df['DateTime1'] = pd.to_datetime(df['DateTime1'], format = '%y-%m-%d %H:%M:%S')
df['DateTime2'] = pd.to_datetime(df['DateTime2'], format = '%Y-%m-%d %H-%M-%S')

df[['Date2', 'Date3', 'DateTime1', 'DateTime2']]

       Date2      Date3           DateTime1           DateTime2
0 2024-02-17 2024-02-17 2024-02-17 13:50:30 2024-02-17 13:50:30
1 2024-02-18 2024-02-18 2024-02-18 14:55:45 2024-02-18 14:55:45
2 2024-02-19 2024-02-19 2024-02-19 15:30:15 2024-02-19 15:30:15
3 2024-02-20 2024-02-20 2024-02-20 16:10:50 2024-02-20 16:10:50

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date1      4 non-null      object
 1   Date2      4 non-null      datetime64[ns]
 2   Date3      4 non-null      datetime64[ns]
 3   Date4      4 non-null      object
 4   Date5      4 non-null      object
 5   DateTime1  4 non-null      datetime64[ns]
 6   DateTime2  4 non-null      datetime64[ns]
 7   DateTime3  4 non-null      object
 8   DateTime4  4 non-null      object
dtypes: datetime64[ns](4), object(5)
memory usage: 420.0+ bytes

In [19]:
cols = ['Date2', 'Date3', 'DateTime1', 'DateTime2']
df[cols]

       Date2      Date3           DateTime1           DateTime2
0 2024-02-17 2024-02-17 2024-02-17 13:50:30 2024-02-17 13:50:30
1 2024-02-18 2024-02-18 2024-02-18 14:55:45 2024-02-18 14:55:45
2 2024-02-19 2024-02-19 2024-02-19 15:30:15 2024-02-19 15:30:15
3 2024-02-20 2024-02-20 2024-02-20 16:10:50 2024-02-20 16:10:50

### 04. 날짜와 시간 데이터 분할(datetime dt 속성)

In [21]:
df['year'] = df['DateTime1'].dt.year
df['month'] = df['DateTime1'].dt.month
df['day'] = df['DateTime1'].dt.day
df['hour'] = df['DateTime1'].dt.hour
df['minute'] = df['DateTime1'].dt.minute
df['second'] = df['DateTime1'].dt.second
df

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4,year,month,day,hour,minute,second
0,2024-02-17,2024-02-17,2024-02-17,02/17/2024,17-Feb-2024,2024-02-17 13:50:30,2024-02-17 13:50:30,02/17/2024 01:50:30 PM,17 Feb 2024 13:50:30,2024,2,17,13,50,30
1,2024-02-18,2024-02-18,2024-02-18,02/18/2024,18-Feb-2024,2024-02-18 14:55:45,2024-02-18 14:55:45,02/18/2024 02:55:45 PM,18 Feb 2024 14:55:45,2024,2,18,14,55,45
2,2024-02-19,2024-02-19,2024-02-19,02/19/2024,19-Feb-2024,2024-02-19 15:30:15,2024-02-19 15:30:15,02/19/2024 03:30:15 AM,19 Feb 2024 15:30:15,2024,2,19,15,30,15
3,2024-02-20,2024-02-20,2024-02-20,02/20/2024,20-Feb-2024,2024-02-20 16:10:50,2024-02-20 16:10:50,02/20/2024 04:10:50 AM,20 Feb 2024 16:10:50,2024,2,20,16,10,50

### 05. 요일 찾기

In [22]:
df['DateTime1'].dt.dayofweek

0    5
1    6
2    0
3    1
Name: DateTime1, dtype: int32

### 06. 특정 시점과 특정 구간

In [23]:
print(df['DateTime1'].dt.to_period('Y'))
print(df['DateTime1'].dt.to_period('Q'))
print(df['DateTime1'].dt.to_period('M'))
print(df['DateTime1'].dt.to_period('D'))
print(df['DateTime1'].dt.to_period('H'))

0    2024
1    2024
2    2024
3    2024
Name: DateTime1, dtype: period[Y-DEC]
0    2024Q1
1    2024Q1
2    2024Q1
3    2024Q1
Name: DateTime1, dtype: period[Q-DEC]
0    2024-02
1    2024-02
2    2024-02
3    2024-02
Name: DateTime1, dtype: period[M]
0    2024-02-17
1    2024-02-18
2    2024-02-19
3    2024-02-20
Name: DateTime1, dtype: period[D]
0    2024-02-17 13:00
1    2024-02-18 14:00
2    2024-02-19 15:00
3    2024-02-20 16:00
Name: DateTime1, dtype: period[h]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9164\2095775091.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  print(df['DateTime1'].dt.to_period('H'))