In [1]:
import pandas as pd
df = pd.read_csv('./data/delivery_time.csv')
df

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176
...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,배고팡,1.79,현금,user_186
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,여기여,5.33,카드,user_148

### 풀이

In [4]:
# 주말/평일 구분
# 0 : 월, 1: 화, 2: 수, 3: 목, 4: 금, 5: 토, 6: 일
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['dayofweek'] = df['주문시간'].dt.dayofweek
df['주말'] = df['dayofweek'] >= 5
df

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user,dayofweek,주말
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275,2,False
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360,0,False
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36,1,False
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65,4,False
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176,4,False
...,...,...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,배고팡,1.79,현금,user_186,0,False
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239,4,False
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264,3,False
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229,3,False
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,여기여,5.33,카드,user_148,2,False

In [5]:
# 주말 개수, 평일 개수 계산
weekend = sum(df['주말'])
print(weekend)

weekday = sum(~df['주말'])
print(weekday)

294
706

In [6]:
# 차이 절댓값 출력
print(abs(weekend - weekday))

412