In [1]:
import pandas as pd
df = pd.read_csv('./data/delivery_time.csv')
df

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176
...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,배고팡,1.79,현금,user_186
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,여기여,5.33,카드,user_148

### 풀이

In [3]:
# datetime 자료형 변환
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
print(df['실제도착시간'], df['예상도착시간'])

0     2023-07-26 09:14:06
1     2022-11-07 10:44:04
2     2023-04-18 06:12:46
3     2023-08-18 11:16:25
4     2023-08-11 11:27:57
              ...
995   2022-10-10 04:13:48
996   2023-02-03 13:11:46
997   2023-01-05 21:57:41
998   2023-06-15 04:14:24
999   2023-08-02 22:04:06
Name: 실제도착시간, Length: 1000, dtype: datetime64[ns] 0     2023-07-26 08:39:42
1     2022-11-07 10:50:15
2     2023-04-18 05:32:53
3     2023-08-18 11:08:33
4     2023-08-11 10:51:57
              ...
995   2022-10-10 04:15:37
996   2023-02-03 13:12:57
997   2023-01-05 21:57:44
998   2023-06-15 04:18:38
999   2023-08-02 22:09:22
Name: 예상도착시간, Length: 1000, dtype: datetime64[ns]

In [4]:
# 지연 시간 계산(분)
df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds()/60
df

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user,지연시간
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275,34.400000
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360,-6.183333
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36,39.883333
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65,7.866667
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176,36.000000
...,...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,배고팡,1.79,현금,user_186,-1.816667
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239,-1.183333
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264,-0.050000
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229,-4.233333
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,여기여,5.33,카드,user_148,-5.266667

In [5]:
# 조건1 - 예상 도착 시간보다 늦게 도착한 건
cond1 = df['지연시간'] > 0
df[cond1]

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user,지연시간
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275,34.400000
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36,39.883333
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65,7.866667
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176,36.000000
5,2022-11-27 15:13:52,2022-11-27 16:47:32,2022-11-27 16:41:28,배달왕,14.85,앱결제,user_204,6.066667
...,...,...,...,...,...,...,...,...
986,2023-03-15 20:57:13,2023-03-15 21:39:48,2023-03-15 21:24:23,배고팡,12.52,카드,user_85,15.416667
988,2022-10-08 14:55:02,2022-10-08 16:01:08,2022-10-08 15:31:19,여기여,14.24,카드,user_207,29.816667
990,2023-05-05 01:38:56,2023-05-05 02:44:41,2023-05-05 02:11:34,여기여,8.86,현금,user_378,33.116667
991,2022-12-23 22:43:48,2022-12-24 00:09:23,2022-12-24 00:00:04,배달왕,5.95,앱결제,user_348,9.316667
992,2022-09-18 06:21:27,2022-09-18 07:34:52,2022-09-18 06:55:28,배달왕,16.87,현금,user_181,39.400000

In [7]:
# 조건2 - 거리가 7 이상인 건
cond2 = df['거리'] >= 7
df[cond2]

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user,지연시간
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36,39.883333
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65,7.866667
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176,36.000000
5,2022-11-27 15:13:52,2022-11-27 16:47:32,2022-11-27 16:41:28,배달왕,14.85,앱결제,user_204,6.066667
6,2022-09-25 16:27:43,2022-09-25 17:52:23,2022-09-25 18:13:21,배달왕,9.72,현금,user_343,-20.966667
...,...,...,...,...,...,...,...,...
992,2022-09-18 06:21:27,2022-09-18 07:34:52,2022-09-18 06:55:28,배달왕,16.87,현금,user_181,39.400000
994,2023-02-08 12:09:03,2023-02-08 13:24:56,2023-02-08 13:28:54,여기여,12.97,현금,user_418,-3.966667
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239,-1.183333
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264,-0.050000
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229,-4.233333

In [8]:
# 조건에 맞는 데이터(행) 수 출력
print(len(df[cond1 & cond2]))

311