In [1]:
import pandas as pd
df = pd.read_csv('./data/delivery_time.csv')
df

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176
...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,배고팡,1.79,현금,user_186
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,여기여,5.33,카드,user_148

### 풀이

In [3]:
# 각 사용자별로 첫 주문과 마지막 주문 사이의 시간 간격(일 단위) 계산
df['주문시간'] = pd.to_datetime(df['주문시간'])
print(df['주문시간'])

min_order_time = df.groupby('user')['주문시간'].min()
print(min_order_time)

max_order_time = df.groupby('user')['주문시간'].max()
print(max_order_time)

time_interval = (max_order_time - min_order_time).dt.days
time_interval

0     2023-07-26 08:05:49
1     2022-11-07 10:21:54
2     2023-04-18 05:00:57
3     2023-08-18 10:46:28
4     2023-08-11 09:58:27
              ...
995   2022-10-10 03:13:30
996   2023-02-03 12:47:19
997   2023-01-05 21:28:58
998   2023-06-15 03:56:42
999   2023-08-02 20:53:53
Name: 주문시간, Length: 1000, dtype: datetime64[ns]
user
user_1     2023-01-08 12:52:59
user_10    2022-10-22 20:13:05
user_101   2023-06-26 01:43:40
user_103   2022-12-04 09:06:03
user_104   2023-06-13 18:24:38
                   ...
user_94    2022-12-26 10:29:42
user_95    2022-11-07 15:46:49
user_96    2022-11-19 18:52:34
user_98    2023-03-26 01:13:25
user_99    2023-06-29 23:38:47
Name: 주문시간, Length: 426, dtype: datetime64[ns]
user
user_1     2023-06-07 04:29:28
user_10    2023-08-02 05:48:27
user_101   2023-06-26 01:43:40
user_103   2022-12-04 09:06:03
user_104   2023-06-13 18:24:38
                   ...
user_94    2022-12-26 10:29:42
user_95    2023-03-09 14:08:56
user_96    2022-11-19 18:52:34
user_98    2023-03-26 01:13:25
user_99    2023-06-29 23:38:47
Name: 주문시간, Length: 426, dtype: datetime64[ns]

user
user_1      149
user_10     283
user_101      0
user_103      0
user_104      0
           ...
user_94       0
user_95     121
user_96       0
user_98       0
user_99       0
Name: 주문시간, Length: 426, dtype: int64

In [4]:
# 1일 이하 주문 제외
cond1 = time_interval > 0
m = time_interval[cond1].mean()
m

167.69463087248323

In [5]:
# 평균보다 기간이 긴 유저 수를 계산하고 출력
cond2 = time_interval > m
print(len(time_interval[cond2]))

146