## section15 함수

### 01. 일반 함수

In [1]:
def hello() :   # 함수 정의
    print('안녕하세요!')
    
hello()         # 함수 호출
hello()         # 함수 호출
hello()         # 함수 호출

안녕하세요!
안녕하세요!
안녕하세요!

### 02. 매개변수가 있는 함수

In [4]:
def hello(name) :
    print('hello ' + name)
    
hello('빅분기')

hello 빅분기

In [5]:
def hello(name) :
    print(name)
print(name)

hello('빅분기')

NameError: name 'name' is not defined

In [6]:
def plus(x, y) :
    print(x + y)
    
# 함수 호출
a = 2
b = 3
plus(a, b)

5

### 03. 반환 값이 있는 함수

In [7]:
def plus(x, y) :
    result = x + y
    return result

a = plus(2, 3)
print(a)

5

In [8]:
listbox = [15, 46, 78, 24, 56]
def min_max(data) :
    mi = min(data)
    ma = max(data)
    return mi, ma

a, b = min_max(listbox)
print(a, b)

15 78

In [9]:
listbox = [15, 46, 78, 24, 56]
def mean(data) :
    return sum(data) / len(data)

mean(listbox)

43.8

## 확인문제

### Q1 ~ Q7

In [10]:
# 데이터
listbox = ['감사', '행복', '사랑', '성공', '긍정', '변화', '성장', '희망']

### Q1. 리스트에 있는 값의 수 출력

In [13]:
print(len(listbox))

8

### Q2. 리스트의 첫 번째 값 출력

In [14]:
print(listbox[0])

감사

### Q3. 리스트의 마지막 값 출력

In [15]:
print(listbox[-1])

희망

### 04. 리스트에서 처음부터 세 번째 값까지 출력

In [17]:
print(listbox[:3])

['감사', '행복', '사랑']

### 05. 리스트에서 마지막 앞 단어 출력

In [18]:
print(listbox[-2])

성장

### 06. 리스트 값 중 '행복'과 '사랑'만 출력

In [19]:
print(listbox[1:3])

['행복', '사랑']

### 07. 리스트 값 중 '변화'를 '웃음'으로 변경

In [22]:
listbox[5] = '웃음'
print(listbox)

['감사', '행복', '사랑', '성공', '긍정', '웃음', '성장', '희망']

### Q8. cols 변수는 컬럼명을 담고 있을 때, cols 리스트에 있는 name, age, phone 컬럼명을 반복문을 통해 출력

In [24]:
# 데이터
cols = ['name', 'age', 'phone']

In [26]:
for col in cols :
    print(col)

name
age
phone

### Q9. 리스트에서 최대값에서 최소값을 뺀 결과를 리턴하는 함수 생성 및 실행

In [27]:
# 데이터
listbox = [15, 46, 78, 24, 56]

In [30]:
def maxmin(data) :
    return max(data) - min(data)

maxmin(listbox)

63

### Q10. 문자열에서 '여러분'을 '당신'으로 변경한 결과를 리턴하는 함수 생성 및 실행

In [31]:
# 데이터
str_data = "여러분의 합격을 응원합니다!"

In [34]:
def rep(data) :
    return data.replace('여러분', '당신')

rep(str_data)

'당신의 합격을 응원합니다!'