## SECTION03 산술 연산자

### 01. 사칙연산

In [1]:
print(1+2, 4-1, 2*3, 16/3)

3 3 6 5.333333333333333

### 02. 나누기 결과

In [5]:
print(15/3)

5.0

### 03. 몫 연산자

In [6]:
16//3

5

### 04. 나머지 연산자

In [7]:
16%3

1

### 05. 거듭제곱

In [8]:
4**2

16

### 06. 제곱근

In [9]:
16**0.5

4.0

### 07. 산술 연산자 우선순위

In [10]:
4+3*2

10

In [11]:
(4+3)*2

14

### 08. 문자끼리 더하기

In [12]:
"py" + "thon"

'python'

### 09. 문자와 숫자 더하기

In [13]:
'py' + 3

TypeError: can only concatenate str (not "int") to str

In [14]:
'py' + '3'

'py3'