# 제 5회 기출 문제

## 작업형 제 1 유형

### ✏️ 종량제 봉투 종류가 '규격봉투'고, 종량제 봉투 용도가 '음식물쓰레기'인 2L 가격 평균을 구하시오. 단, 가격이 0이면 평균에서 제외하고, 반올림 후 정수를 출력하시오.

In [1]:
import pandas as pd
df = pd.read_csv('./data/data5-1.csv')
print(df.head())

   시도명 시군구명 종량제봉투종류 종량제봉투처리방식 종량제봉투용도 종량제봉투사용대상  1ℓ가격  1.5ℓ가격  2ℓ가격  2.5ℓ가격  \
0  경기도  안양시    규격봉투       매립용   생활쓰레기      사업장용     0       0     0       0
1  경기도  안양시    규격봉투       매립용   생활쓰레기        기타     0       0     0       0
2  경기도  안양시    규격봉투       소각용  음식물쓰레기       가정용     0      50     0      80
3  경기도  안양시    규격봉투       소각용  음식물쓰레기      사업장용     0      50     0      80
4  경기도  안양시    규격봉투       소각용  음식물쓰레기        기타     0      50     0      80

   ...  60ℓ가격  75ℓ가격  100ℓ가격  120ℓ가격  125ℓ가격  관리부서명       관리부서전화번호  \
0  ...      0   2100       0       0       0  자원순환과  031-8045-5448
1  ...      0   2100       0       0       0  자원순환과  031-8045-5448
2  ...      0      0       0       0       0  자원순환과  031-8045-5448
3  ...      0      0       0       0       0  자원순환과  031-8045-5448
4  ...      0      0       0       0       0  자원순환과  031-8045-5448

      데이터기준일자   제공기관코드    제공기관명
0  2022-08-12  3830000  경기도 안양시
1  2022-08-12  3830000  경기도 안양시
2  2022-08-12  3830000  경기도 안양시
3  2022-08-12  3830000  경기도 안양시
4  2022-08-12  3830000  경기도 안양시

[5 rows x 26 columns]

In [2]:
# 1. 조건1 : 종량제 봉투 종류 '규격봉투'
cond1 = df['종량제봉투종류'] == '규격봉투'

# 2. 조건2 : 종량제 봉투 용도 '음식물쓰레기'
cond2 = df['종량제봉투용도'] == '음식물쓰레기'

# 3. 조건3 : 2l 가격이 0이면 제외
cond3 = df['2ℓ가격'] != 0

# 4. 조건 적용한 데이터에서 2L 가격 평균 계산, 반올림, 정수 출력
print(round(df[cond1 & cond2 & cond3]['2ℓ가격'].mean()))

118

### ✏️ bmi 수치가 정상인 사람 수와 위험체중인 사람 수의 차이를 절댓값으로 구하시오. (정수로 출력)
- bmi(체질량 지수) : 몸무게(kg) / 키(m) 의 제곱 단위
- 단위 : Height(cm), Weight(kg)
- BMI
    - 저체중 : BMI 18.5 미만
    - 정상체중 : BMI 18.5 이상 23 미만
    - 과체중 또는 위험 체중 : BMI 23 이상 25 미만
    - 비만체중 : 25 이상

In [3]:
import pandas as pd
df = pd.read_csv('./data/data5-2.csv')
print(df.head())

  Gender  Height  Weight
0   Male   187.6   109.7
1   Male   174.7    73.6
2   Male   188.2    96.5
3   Male   182.2    99.8
4   Male   177.5    93.6

In [4]:
# 1. bmi 파생변수 계산
## 파생변수를 계산하기 앞서 단위의 변환 필요 : 문제에서 bmi 계산 수식을 보면 키는 m 단위
## 현재 Height 는 단위가 cm 라서 m 단위로 변경한 후, 제곱연산자(**) 사용
df['bmi'] = df['Weight'] / (df['Height'] / 100)**2
print(df.head(), '\n')

# 2. 조건1 : 정상체중 bmi
cond1 = (df['bmi'] >= 18.5) & (df['bmi'] < 23)

# 3. 조건2 : 위험체중 bmi
cond2 = (df['bmi'] >= 23) & (df['bmi'] < 25)

# 4. 조건1의 인원과 조건2의 인원 차이 계산, 절댓값 처리
## 정상체중 인원과 위험체중 인원의 차이를 계산하고 절댓값으로 출력
print(abs(len(df[cond1]) - len(df[cond2])))

  Gender  Height  Weight        bmi
0   Male   187.6   109.7  31.170298
1   Male   174.7    73.6  24.115263
2   Male   188.2    96.5  27.245079
3   Male   182.2    99.8  30.063102
4   Male   177.5    93.6  29.708391

144

---

#### 💡 연산자 우선순위
- 제곱의 우선순위가 나누기보다 높음

    - 제곱 먼저 한 후 나누기 실행

- 곱하기와 나누기는 우선순위가 같으며, 우선순위가 같을 때는 왼쪽에서 오른쪽 순으로 계산

    - 잘 모르겠으면 괄호 작성

---

### ✏️ 순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오. (순 전입학생 = 전입 학생 - 전출 학생)

In [5]:
import pandas as pd
df = pd.read_csv('./data/data5-3.csv')
print(df.head())

      시도교육청           지역교육청         지역   정보공시 학교코드              학교명  학교급코드  \
0  서울특별시교육청             교육부  서울특별시 서초구  S000003511    서울교육대학교부설초등학교      2
1  서울특별시교육청             교육부  서울특별시 종로구  S000003563  서울대학교사범대학부설초등학교      2
2  서울특별시교육청  서울특별시강남서초교육지원청  서울특별시 강남구  S010000738         서울개일초등학교      2
3  서울특별시교육청  서울특별시강남서초교육지원청  서울특별시 강남구  S010000741         서울구룡초등학교      2
4  서울특별시교육청  서울특별시강남서초교육지원청  서울특별시 강남구  S010000742         서울논현초등학교      2

  설립구분 제외여부 제외사유  1학년 전입학생수  ...  4학년 전체학생수  5학년 전입학생수  5학년 전출학생수  5학년 전체학생수  \
0   국립    N  NaN        5.0  ...      104.0        0.0        0.0      108.0
1   국립    N  NaN        4.0  ...      104.0        3.0        2.0      104.0
2   공립    N  NaN       13.0  ...      179.0       19.0        8.0      177.0
3   공립    N  NaN        2.0  ...      129.0       18.0        4.0      129.0
4   공립    N  NaN        1.0  ...       48.0        2.0       10.0       53.0

   6학년 전입학생수  6학년 전출학생수  6학년 전체 학생수  전입학생수(계)  전출학생수(계)  전체학생수(계)
0        0.0        0.0       111.0       6.0       0.0     611.0
1        0.0        1.0       106.0      20.0      21.0     621.0
2       16.0        5.0       152.0     118.0      50.0    1004.0
3       13.0        3.0       119.0      90.0      27.0     733.0
4        0.0        0.0        47.0       6.0      29.0     290.0

[5 rows x 30 columns]

In [ ]:
# 1. '순전입학생' 파생변수 계산
df['순전입학생'] = df['전입학생수(계)'] - df['전출학생수(계)']
print(df.head(), '\n')

# 2. '순전입학생' 컬럼 기준으로 내림차순 정렬
## 가장 큰 값이 첫번째 행에 위치
df = df.sort_values('순전입학생', ascending=False)
print(df.head())

# 3. 첫 번째 행의 전체 학생 수 값 선택
print('정답 :', int(df.iloc[0, -2]))

      시도교육청           지역교육청         지역   정보공시 학교코드              학교명  학교급코드  \
0  서울특별시교육청             교육부  서울특별시 서초구  S000003511    서울교육대학교부설초등학교      2
1  서울특별시교육청             교육부  서울특별시 종로구  S000003563  서울대학교사범대학부설초등학교      2
2  서울특별시교육청  서울특별시강남서초교육지원청  서울특별시 강남구  S010000738         서울개일초등학교      2
3  서울특별시교육청  서울특별시강남서초교육지원청  서울특별시 강남구  S010000741         서울구룡초등학교      2
4  서울특별시교육청  서울특별시강남서초교육지원청  서울특별시 강남구  S010000742         서울논현초등학교      2

  설립구분 제외여부 제외사유  1학년 전입학생수  ...  5학년 전입학생수  5학년 전출학생수  5학년 전체학생수  6학년 전입학생수  \
0   국립    N  NaN        5.0  ...        0.0        0.0      108.0        0.0
1   국립    N  NaN        4.0  ...        3.0        2.0      104.0        0.0
2   공립    N  NaN       13.0  ...       19.0        8.0      177.0       16.0
3   공립    N  NaN        2.0  ...       18.0        4.0      129.0       13.0
4   공립    N  NaN        1.0  ...        2.0       10.0       53.0        0.0

   6학년 전출학생수  6학년 전체 학생수  전입학생수(계)  전출학생수(계)  전체학생수(계)  순전입학생
0        0.0       111.0       6.0       0.0     611.0    6.0
1        1.0       106.0      20.0      21.0     621.0   -1.0
2        5.0       152.0     118.0      50.0    1004.0   68.0
3        3.0       119.0      90.0      27.0     733.0   63.0
4        0.0        47.0       6.0      29.0     290.0  -23.0

[5 rows x 31 columns]

           시도교육청         지역교육청               지역   정보공시 학교코드       학교명  학교급코드  \
1880  세종특별자치시교육청    세종특별자치시교육청  세종특별자치시 세종특별자치시  S080000206    나성초등학교      2
1382    인천광역시교육청  인천광역시서부교육지원청         인천광역시 서구  S040002035  인천한별초등학교      2
6190     경상남도교육청       창원교육지원청   경상남도 창원시 마산합포구  S160004071  마산고운초등학교      2
3214      경기도교육청    경기도성남교육지원청      경기도 성남시 분당구  S090007517  판교대장초등학교      2
1407    인천광역시교육청  인천광역시동부교육지원청        인천광역시 연수구  S040002304  인천송담초등학교      2

     설립구분 제외여부 제외사유  1학년 전입학생수  ...  5학년 전입학생수  5학년 전출학생수  5학년 전체학생수  \
1880   공립    N  NaN      159.0  ...      180.0        0.0       41.0
1382   공립    N  NaN      179.0  ...      127.0        0.0        0.0
6190   공립    N  NaN       37.0  ...      139.0        1.0      110.0
3214   공립    N  NaN      150.0  ...       97.0        0.0        0.0
1407   공립    N  NaN       10.0  ...      139.0        3.0      134.0

      6학년 전입학생수  6학년 전출학생수  6학년 전체 학생수  전입학생수(계)  전출학생수(계)  전체학생수(계)  순전입학생
1880       89.0        0.0        31.0     923.0       0.0     230.0  923.0
1382       93.0        0.0         0.0     857.0       4.0       0.0  853.0
6190      115.0        1.0        97.0     856.0      13.0     894.0  843.0
3214       72.0        1.0         0.0     688.0       2.0       0.0  686.0
1407       85.0        1.0        70.0     712.0      30.0     835.0  682.0

[5 rows x 31 columns]
정답 : 230